a.navbar-brand img {
    width: 100%;
}

figcaption.video {
    margin-top: -1.75em;
    margin-bottom: 1.65rem;
    line-height: 1.4;
    font-size: 0.76rem;
    text-align: center;
}

img.error {
    width: 100%;
    max-width: 300px;
    margin: auto;
}

span.__dimensions_badge_embed__ {
    margin: 30px auto 10px auto;
}