<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
<script src="https://unpkg.com/focus-visible@5.0.2/dist/focus-visible.js" defer></script>
<script>
  const modelViewerVariants = document.querySelector("model-viewer#shoe");
  const select = document.querySelector('#variant');
  
  modelViewerVariants.addEventListener('load', () => {
    const names = modelViewerVariants.availableVariants;
    for (const name of names) {
      const option = document.createElement('option');
      option.value = name;
      option.textContent = name;
      select.appendChild(option);
    }
    // Adds a default option.
    const option = document.createElement('option');
      option.value = 'default';
      option.textContent = 'Default';
      select.appendChild(option);
  });
  
  select.addEventListener('input', (event) => {
    modelViewerVariants.variantName = event.target.value === 'default' ? null : event.target.value;
  });
  </script>

<style>
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;

    }

    .card {
        /* Center the card element on the page and add a margin */
        /* margin: 1em;  */
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        position: relative;
        min-width: 15em;
        min-height: 15em;
        width: auto;
        height: auto;
        /* padding: 1rem;  */
        transition: all 0.1s ease-in-out;
        display:flex;
        align-items:center;
    }
    .card:hover {
      transform: translateY(-10px); /* Move the card up on hover */
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); /* Add a stronger shadow */
}

    model-viewer {
        width: 100%;
        height: 100%;
    }
    .model-viewer {
        position: absolute;
        bottom: 0;
        width: auto;
        text-align: center;
    }

    .Hotspot {
  background: #fff;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

</style>

<div class="card-container">
  <div class="card">
    <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
      <model-viewer
        alt="{{ .Get "alt" }}"
        src="{{ .Get "src" }}"
        ios-src="{{ .Get "iosSrc" }}"
        ar
        ar-modes="scene-viewer webxr quick-look"
        ar-scale="auto"
        environment-image="{{ .Get "environment-image" }}"
        poster="{{ .Get "poster" }}"
        shadow-intensity="{{ .Get "shadow-intensity" }}"
        camera-controls
        touch-action="{{ .Get "touch-action" }}"
        generate-schema
        auto-rotate>
        <div class="controls">
          <div>Variant: <select id="variant"></select></div>
        </div>
      <button class="Hotspot" slot="hotspot-2" data-surface="0 4 389 402 401 0.339 0.313 0.348" data-visibility-attribute="visible">
        <div class="HotspotAnnotation">Infarct</div>
    </button>
  </model-viewer>
    {{ $caption := .Get "caption" | default (.Get "title") | default "" }}{{/* Support legacy `title` option. */}}
    {{- if $caption -}}
    <figcaption class="model-viewer"> 
      {{ $caption | markdownify | emojify }}
    </figcaption>
    {{- end -}}
  </div>
</div>

